.order-item-container {
    display: flex;
    flex-flow: row;
    height: 12vh;
    align-items: center;
    padding: 0.5rem 1rem;
}

.product-img {
    height: 100%;
}

.product-details-container {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    flex: 1;
}

.product-name {
    font-size: smaller;
    font-weight: 300;
    padding: 0 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.qty-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
}

.qty-remove {

}

.current-qty {

}

.qty-add {

}
