<div class="fill-container">
    <ng-container *ngIf="(orders$ | async).length !== 0; else noOrders">
        <div class="orders-list">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let order of orders$ | async"
                    (click)="onOpenOrderDetails(order)">
                    <div class="order-description-container">
                        <span class="order-date">{{order.createdAt | date:'medium'}}</span>
                        <span class="order-count">{{order | orderItemCount}}</span>
                        <span class="order-total">{{order.total | currency:'USD':'symbol-narrow':'1.2'}}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </ng-container>
    <ng-template #noOrders>
        <h1 class="no-orders-msg">You have not ordered anything!</h1>
    </ng-template>
    <div *ngIf="isLoading$ | async">
        <mat-progress-spinner mode="indeterminate" diameter=75 style="margin: 1rem auto;">
        </mat-progress-spinner>
    </div>
</div>