.product-list {
    display: flex;
    flex-flow: row wrap;
}

.cart-container {
    display: flex;
    flex-flow: column;
    width: 65vw;
    min-width: 275px;
}

.cart-title-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
}

.horizontal-divider {
    height: 1px;
    width: 80%;
    background: lightgray;
    margin: 1rem auto;
}